@media (min-width: 768px) {
    .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
    }

    header .container {
      grid-column: span 12;
    }

    #home, #about, #player-container, #contact {
      grid-column: span 12;
    }

    footer .container {
      grid-column: span 12;
    }
  }