body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header, section, footer {
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  h1 {
    font-size: 2.5em;
    text-align: center;
  } 

  p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
  }


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.section {
  padding: 40px 0;
}

#player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.player {
  width: 100%;
  max-width: 600px;
}

nav {
    background-color: #333;
    padding: 16px 40px; /* Increased left and right padding */
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px; /* Add this line to create space between logo and nav ul */
}

nav .brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1em;
}

nav ul li a.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 0.5em 1em;
  border-radius: 5px;
}

nav ul li a.nav-link:hover {
  color: #333;
  background-color: #fff;
}


header .logo {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#about h2, #contact h2 {
  text-align: center;
}

footer .container {
  text-align: center;
}

.mobile-menu {
  position: relative;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.mobile-menu ul li {
  display: inline;
}

.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
}

#menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}


@media (max-width: 768px) {
  .mobile-menu ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    width: 100%;
  }

  .mobile-menu ul.show {
    display: flex;
  }

  #menu-icon {
    display: block;
  }
}